.global {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fdfdfd;
}
.firstPart {
    width: 45%;
    margin:3%;
}
.secondPart {
    height: 70%;
    width: 45%;
    margin:3%;
}
.WordCloud {
  background: content-box radial-gradient(rgb(255, 255, 255),rgb(225, 235, 235));
  border: solid 5px;
  border-radius: 100%;
}